<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | BINKOD</title>
    <link href="~/Styles/Loader1.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="col-md-12" style="margin-top:10px;"></div>    

    <div class="container body-content">
        @RenderBody()

        <div class="loader" id="loader1" style="display:none;text-align:center;">Loading...</div>
        <hr />
        

        <footer>

            <div class="col-md-12">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="DJKLSV7K4P9JG">
                    <table>
                        <tr>
                            <td><input type="hidden" name="on0" value="Want to donate:">Want to donate:</td>
                            <td style="padding-left:5px;">
                                <select name="os0">
                                    <option value="1"> $1</option>
                                    <option value="2"> $2</option>
                                    <option value="5"> $5</option>
                                    <option value="10"> $10</option>
                                </select>
                            </td>
                            <td>
                                <div class="donateBtn" style="padding-left:5px;">
                                    <input type="image" src="~/Images/Icons/btn-donate.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!"
                                           style="height: 30px;vertical-align: text-bottom;cursor:pointer;">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                @*<div class='pm-button' style="float:left;"><a href='https://www.payumoney.com/paybypayumoney/#/002C69439AE2750CF0C3FE605872CA5E'>
                <img src='~/Images/Icons/payu btn.png' /></a></div>*@
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    &copy; @DateTime.Now.Year | <a style="text-decoration: none;" href="http://www.boredsilly.in/">BINKOD</a>
                </div>
                <div class="col-md-6">
                    <span style="float:right;">
                        <a style="text-decoration: none;" href="/Service">Services</a> &nbsp;&nbsp;
                        <a style="text-decoration: none;" href="mailto:binkod.info@gmail.com">Write to us</a>&nbsp;&nbsp;
                        <a href="#" id="Log" style="text-decoration: none;">Log</a>
                    </span>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="~/Styles/style.css">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/js/countdown.js"></script>
    <script src="~/Scripts/js/owlcarousel.js"></script>
    <script src="~/Scripts/js/uikit.scrollspy.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <script>
        $(document).ready(function () {
            setTimeout(function () { openBinkodBlog(); }, 8000);
                        
            $('#Log').click(function () {
                //debugger
                $('#loader1').show();
                $.ajax({
                    url: '/Home/Log',
                    type: "POST",
                    success: function (result) {
                        //debugger
                        if (result.success) {
                            setTimeout(function () {
                                try { window.open(result.message, "_blank"); } catch (err) { }
                                $('#loader1').hide();
                            }, 300);
                        } else {
                            setTimeout(function () { $('#loader1').hide(); }, 200);
                        }
                    },
                    error: function (err) {
                        setTimeout(function () { $('#loader1').hide(); }, 200);
                    }
                });
            });

        });
        function openBinkodBlog() {
            setTimeout(function () {
                try { window.open("http://binkod.blogspot.in/", "_blank"); } catch (err) { }
            }, 300);
        }
    </script>

</body>
</html>
